.App {
  text-align: left;
}

.dropzone {
  width: 100%;
  height: 100%;
  border: 3px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f8f8f8;
}